{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Івенти{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

<header class="bg-dark text-white py-3 shadow-sm">
        <div class="container">
            <a class="btn btn-info" href="{% url 'blog:post_list' %}">Мій Особистий Блог</a>
            {% if user.is_authenticated %}
                <span class="me-3">Вітаю, <strong>{{ user.username }}</strong>!</span>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'blog:logout' %}">Вийти</a>
            {% else %}
                <a class="btn btn-outline-light btn-sm me-2" href="{% url 'blog:login' %}">Увійти</a>
                <a class="btn btn-primary btn-sm" href="{% url 'blog:register' %}">Реєстрація</a>
            {% endif %}

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>{% now "Y" %} Усі права захищені</p>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
